body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 32px;
    background-color: #272424;
}
#header {
    margin: 64px;
    height: 500px;
}

.upper-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 150px;
}
#header .logo {
    font-family: "Sofia", sans-serif;
    font-weight: bold;
    font-size: 144px;
    color: #ffffff;
    text-shadow: 8px 8px 8px rgba(211, 20, 20, 0.7); 
    letter-spacing: 4px;
    position: relative;
    animation: slideInScale 2s ease-out forwards;
}

#header .logo:hover {
    color: #e4e3da; 
    transform: scale(1.1) !important; /* Apparantly this commands make it take precedence over animation*/
}

#music {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1; 
    filter: brightness(0.5);
}
.Explore {
    font-family: "Audiowide", sans-serif;;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    animation: slideInScale 4s ease-out forwards;
}

#bodyInfo {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 64px;
    color: white;
    background-color: #640E0E;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(105, 14, 14),rgb(56, 9, 9)); 
    border-radius: 45px;
    border: 5px solid #9b9696;
}
.animated {
    position: relative;
    background-color: #e9e0e0;
    overflow: hidden;
    border-radius: 45px;
    height: 200px;
    width: 400px;
    border: 5px solid #dddada;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Playfair Display", serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 800;
    letter-spacing: 4px;
    color: #1d1b1b;
    animation: slideIn 6s ease-in forwards;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    animation: glow 1.5s ease-in-out infinite;
    
}

.animated:hover {
    color: #000000;
    border-color: #000000;
    transform: scale(1.05);
    transform: scale(1.05) rotate(3deg);
    border-radius: 45px;
    border: 5px solid #dddada;
}


.link-container {
    display: flex;
    gap: 500px;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    animation: slideIn 3s ease-in;
}

.containerTwo {
    font-size: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#about {
    color: white;
    height: 200px;
    margin-top: 400px;
}

.myself {
    border-radius: 45px;
    border: 5px solid #9b9696;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 24px;
    color: white;
    background-color: #640E0E;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(105, 14, 14),rgb(56, 9, 9)); 
    animation: slideIn 3s ease-in;
}
#about .myself h1 {
    font-family: "Sofia", sans-serif;
    font-size: 64px;
}
#about .myself article:hover {
    color: #fcfdaa; 
}

#about .myself h1:hover {
    color: #fcfdaa; 
}
.quoting {
    background-color: #640E0E;
    padding: 32px;
    color: white;
    font-size: 60px;
    height: auto;
    background-image: linear-gradient(rgb(105, 14, 14), rgb(56, 9, 9));
    margin-top: 600px;
    display: flex;
    flex-direction: row;
    font-family: "Sofia", sans-serif;
    justify-content: space-evenly;
    border-radius: 45px;
    border: 5px solid #9b9696;
    align-items: center;
    animation: slideIn 3s ease-in;
}

.einstein {
    height: 400px;
    width: 600px;
    border-radius: 45px;
    border: 5px solid #dddada;
    transition: transform 0.3s;    
}

.einstein:hover {
    transform: scale(1.1); 
}
  
.arthur {
    text-decoration: underline;
    color: white;
}
.arthur:hover {
    color: gold;
}

.rightHalf p {
    margin: 0px;
    font-family: "Audiowide", sans-serif;
    font-size: 30px;
}


.footer {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 16px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(rgb(24, 22, 22), rgb(56, 9, 9));
}

@keyframes glow {
    0% {
        box-shadow: 0 0px 65px rgba(212, 192, 13, 0.973);
    }
    50% {
        box-shadow: 0 0px 45px rgba(13, 199, 212, 0.6);
    }
    100% {
        box-shadow: 0 0px 65px rgba(212, 192, 13, 0.973);
    }
}

@keyframes slideIn {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}

@keyframes slideInScale {
    0% {
        transform: translateX(-100%) scale(0.5);
    }
    80% {
        transform: translateX(0) scale(0.5); 
    }
    100% {
        transform: translateX(0) scale(1); 
    }
}

/* if max width < 1200*/
@media only screen and (max-width: 1200px) {
    body {
        font-size: 16px;  
        flex-direction: column;
    }

    #header {
        margin: 15px;
        height: 300px;  
    }

    .upper-header {
        flex-direction: column; 
        padding-top: 50px; 
    }

    #header .logo {
        font-size: 72px;  
        text-align: center;
    }

    #music {
        height: auto;
    }

    #bodyInfo {
        font-size: 24px;  
        height: auto; 
        padding: 20px;
    }

    .animated {
        width: 80%;  
        height: 130px; 
        font-size: 16px;  
    }

    .link-container {
        flex-direction: column;  
        gap: 10px;  
    }

    #about {
        margin-top: 100px; 
        font-size: 30px;
    }

    .myself {
        font-size: 16px;  
    }

    .myself h1 {
        font-size: 16px;
    }

    .quoting {
        flex-direction: column;
        font-size: 40px;
        justify-content: center;
        margin-top: 400px;
    }

 

    .einstein {
        width: 300px;
        height: 300px;
    }

    .footer {
        font-size: 12px;
        padding: 10px;
    }

    .containerTwo {
        font-size: 16px;
    }
    .containerTwo .animated .headphones {
        height: 200px;
    }
    .containerTwo .animated .spotify {
        height: 320px;
    }
}